/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --letter-blue: #81B3D3;
  --background: #888888;
  --background-blue: #81B3D2;
  --background-grey: #EEEEEE;
  --background-light-grey:#F2F2F2;
  --background-brown: #766357;
  }

/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform:uppercase;
  background-color: #F2F2F2;
  text-align: center;
  }

  a {
   text-decoration: none;
 }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Grid */
  .page {
    height: 100%;
  }

  .page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */
  .main-header {
    margin-bottom: 0px;
  }

  /* Main navigation */
  .main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    background-color: #FFFFFF;
  }

  .main-navigation ul{
   list-style: none;
   padding: 0px;
  }

  .main-navigation-wrapper {
    width: 100%;
    margin-bottom: 0px;
  }

/* main-container */
  .main-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }

/*logo*/
  .main-header-logo {
    width: 138px;
    height: 70px;
    margin: 0px 0px -15px 0px;
}

/*Site-navigation*/
  .site-navigation {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    margin: -30px 0px 0px 0px;
  }

  .site-navigation  a {
    color: #000000;
  }

  .site-navigation a:hover {
    color: #81B3D2;
  }

  .site-navigation a:active {
    color: #000000;
    opacity: 0.3;
  }

  .site-navigation .site-navigation-current a {
    color: #766357;
  }

/*Welcome*/
.sedona-header {
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    Height: 509px;
  }

  .sedona-header-bottom {
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
    Height: 58px;
    background-position: center top;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.welcome {
  padding: 10px 20px 14px 20px;
}

.welcome-img{
  margin-top: 69px;
}

/* Description */
  .description {
    color: #000000;
    background-color: #ffffff;
    padding: 50px;
  }

  .description h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding: 1% 30%;
    margin-top: -19px;
  }

  .description p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    margin-top: 38px;
  }

/* Info */
  .info {
    display: flex;
    justify-content: space-evenly;
  }

  .info-text {
    color: #ffffff;
    background-color: #81B3D2;
    float: left;
    width: 400px;
    height: 256px;
  }

  .info-text h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 49px 120px 20px 120px;
  }

  .info-text p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 5px 20px 30px 40px;
  }

/* Features */
  .features {
    margin-bottom: 27px;
    outline-offset: 117px;
  }

  .features-list {
    display: flex;
    list-style: none;
    column-gap: 40px;
  }

  .features-item {
  text-align: center;
  width: 400px;
  }

  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    padding: 9px 133px 5px 100px;
  }

  .features-item p {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 16px 53px 26px 28px;
  }

/* About */
  .about {
    margin-top: -19px;
  }

  .about-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 74px 3px 49px 3px;
  }

  .about-item {
    width: 400px;
  }

  .about-item h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
  }
  .about-item p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    padding: 0px 50px 20px 50px;
  }

/* Interested */
  .interested {
    background-color: #FFFFFF;
    padding: 1%;
    height: 269px;
  }

  .interested h2{
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    margin: 46px 34px 34px 42px;
  }

  .interested p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0px;
    color: #333333;
  }

/* Search */
  .search {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
    height: 472px;
  }

.search-text{
  color: #FFFFFF;
  background-color: #766357;
  margin-bottom: 100px;
  margin-top: -84px;
  }

  .search-text h2{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    padding: 29px;
    text-align: center;
  }

  .search-text:hover h2 {
    background-color : #604E43;
}

  .search-text:active h2 {
    background-color: #503E33;
    color: rgba(255,255,255,0.3);
}

    .search-form {
      width: 548px;
      height: 381px;
      background: #FFFFFF;
      box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
      padding: 10px;
  }

    .search-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin: 46px 37px -23px 8px;
  }

    .search-date ul {
      list-style: none;
      text-align: left;
    }

    .search-date input {
      border: none;
      width: 330px;
      height: 38px;
      background: #F2F2F2;
      padding: 0px 10px;
      margin-bottom: 30px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000000;
      background-image: url("../img/calendar1.svg");
      background-repeat: no-repeat;
      background-position: 97% 42%;
      outline: none;
      margin-left: 17px;
    }

    .search-date input:hover {
      background-color: #EBEBEB;
      background-image: url("../img/calendar3.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    .search-date input:active {
      background: #FFFFFF;
      background-image: url("../img/calendar2.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      border: 2px solid #E5E5E5;
    }

    .search-men {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    display: flex;
  }

    .search-men input {
      border: none;
      width: 101px;
      height: 38px;
      background: #F2F2F2;
      padding: 0px 10px;
      margin-bottom: 30px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #000000;
    }

    .search-men ul {
      list-style: none;
      margin: 16px 0px 0px 5px;
      margin-left: 2px;
    }

    .search-men li {
      display: inline-flex;
    }
    .input-group {
      position: relative;
      margin: 1px 0px 0px 41px;
      margin-right: 28px;
    }

  .btn-minus {
    width: 12px;
    height: 3px;
    background-image: url("../img/min1.svg");
    position: absolute;
    left: 0;
    margin: 17.5px;
    outline: none;
    border: none;
  }

  .btn-plus{
    height: 11px;
    width: 11px;
    background-image: url("../img/plus1.svg");
    position: absolute;
    right: 0;
    margin: 13.5px;
    outline: none;
    border: none;
  }

    .button-search {
      font-size: 21px;
      line-height: 27,2px;
      font-weight: 700;
      color: #ffffff;
      vertical-align: middle;
      border: none;
      text-transform: uppercase;
      background-color:#81B3D2;
      width: 458px;
      height: 58px;
      outline: none;
      margin-top: 16px;
    }

    .button-search:hover{
      background-color: #669EC0;
      color: #ffffff;
      border: none;
    }

    .button-search:active{
      background-color: #5496BD;
      color: #ffffff;
      opacity: 0.3;
      border: none;
    }

    /* Main footer */
    .main-footer .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-contacts {
      margin: 0;
      width: 251px;
      margin: 10px 0px 0px 115px;
      margin-bottom: 36px;
    }

    .footer-contacts a {
      font-size: 21px;
      line-height: 26px;
      color: #000000;
      font-weight: 700;
    }

    .footer-contacts a:hover,
    .footer-contacts a:focus {
      text-decoration: none;
    }

    .footer-social {
      width: 150px;
      margin: 39px 0px 0px 7px;
      justify-self: center;
      text-align: center;
    }

    .footer-social ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }

    .footer-social h2 {
      font-size: 14px;
    }

    /* Social button */
    .social-button {
      width: 46px;
      height: 48px;
      color: #000000;
      background-color:#81B3D2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .social-button:hover,
    .social-button:focus {
      background-color: #81B3D2;
    }

    .footer-copyright {
      max-width: 300px;
      margin: 0;
      justify-self: center;
      padding: 30px 69px 0px 0px;
    }

    .footer-copyright .button:hover,
    .footer-copyright .button:focus {
      color: #ffffff;
      background-color: #81B3D2;
    }

/*Infrastructure*/
.infrastructure{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background-image: url("../img/background_photo2.png");
  background-repeat: no-repeat;
  height: 217px;
}

.infrastructure-list li {
  list-style: none;
  margin: 23px 0px 0px 72px;
}

.infrastructure-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.infrastructure-item h3{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin: 26.5px 0px 24.5px 0px;
}

/*list-cost*/
.choice {
  color: #FFFFFF;
  justify-self: end;
}

.choice h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin: 26.5px 155px 0px 0px;
}

.choice-list li{
    list-style: none;
}

.choice-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin: 10.5px 73px 0px 0px;
}

.choice-list input {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid;
  background: transparent;
  outline: none;
}

.choice-list input::placeholder {
  color: #FFFFFF;
  }

.choice-list input[type="submit"]:hover {
  color: #000000;
  background: #FFFFFF;
  }

/*Option*/
.option {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  border-bottom: 1px solid #E5E5E5;
}

.option-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 31px 0px 30px 0px;
  margin-right: 34px;
}

.option-filter {
  justify-self: left;
  margin: 29px 0px 0px -70px;
}

.option-filter span {
  font-size: 12px;
  line-height: 18px;
}

.option-filter a {
  margin-left: 40px;
}

.option-filter a:first-of-type {
  color: #81B3D2;
  opacity: 1;
}

.option a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dotted #81B3D2;
  text-decoration: none;
}

.option a:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.option a:active {
  color: #81B3D2;
  opacity: 1;
}

.option a:focus {
  color: #000000;
}

/*option-sort*/
.option-sort{
  display: flex;
  margin: 40px 0px 0px 195px;
}

.option-sort li{
  list-style: none;
}

.option-sort-up{
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  width: 18px;
  height:17px;
}

.option-sort-down{
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  width: 18px;
  height:17px;
}


.option-sort-up a:hover {
  color: #000000;
}

.option-sort-up a:active
.option-sort-up a:focus {
  color: #81B3D2;
}

    /*Hotel*/
    .hotel {
    background-color: #FFFFFF;
    border: #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 151px;
    }

  .hotel-img{
    margin: 29px 118px 10px 0px;
  }

  .hotel-list{
    max-width: 300px;
    margin: 0px;
    text-align: left;
    margin: 34px 0px 0px -150px;
  }

  .hotel-list li{
  list-style: none;
  padding: 0px 0px 15.5px 0px;
  }

  .hotel-item h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: -9px 0px 7px -54px;
  }

  .hotel-item p{
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: inline;
    margin: 0px 88px 30px -54px;
  }

  .hotel-item h3:hover {
   color : #81B3D2;
  }

  .hotel-item h3:active {
   color: #000000;
   opacity: 0.3;
  }

  /*Motel*/
  .motel {
    background-color: #FFFFFF;
    height: 150px;
    border-bottom: 1px solid #E5E5E5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .motel-img {
  margin: 30px 116px 10px 0px;
  }

  .motel-list{
    max-width: 300px;
    margin: 0px;
    text-align: left;
    margin: 5px 0px 0px -150px;
  }

  .motel-list li{
  list-style: none;
  padding: 0px 0px 15.5px 0px;
  }

  .motel-item h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 20px 0px 6px -52px;
  }

  .motel-item p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: inline;
    margin: 0px 113px 0px -53px;
  }

  .motel-text h3:hover {
   color : #81B3D2;
  }

  .motel-text h3:active {
   color: #000000;
   opacity: 0.3;
 }

  .motel-item h3:hover {
   color : #81B3D2;
  }

  .motel-item h3:active {
   color: #000000;
   opacity: 0.3;
  }

  /*Apartment*/
  .apartment {
    background-color: #FFFFFF;
    height: 151px;
    border-bottom: 1px solid #E5E5E5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .apartment-img {
    margin: 30px 116px 10px 0px;
  }

  .apartment-list {
    max-width: 300px;
    margin: 0px;
    text-align: left;
    margin: 5px 0px 0px -150px;
  }

  .apartment-list li{
    list-style: none;
    padding: 0px 0px 15.5px 0px;
  }

  .apartment-item h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 21px 0px 5px -52px;
  }

  .apartment-item p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    display: inline;
    margin: 0px 71px 0px -54px;
  }

  .apartment-text h3:hover {
   color : #81B3D2;
  }

  .apartment-text h3:active {
   color: #000000;
   opacity: 0.3;
  }

  .apartment-item h3:hover {
   color : #81B3D2;
  }

  .apartment-item h3:active {
   color: #000000;
   opacity: 0.3;
  }

/*Rating*/

.rating-list li{
    list-style: none;
    margin-left: 5px;
}

.rating ul{
  display: flex;
  justify-content: flex-end;
  margin: 24px 72px 55px 0px;
}

.rating-item {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height:17px;
}

.rating-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  height: 27px;
  width: 310px;
  color: #666666;
  background: #F2F2F2;
  padding: 3px 12px 3px 15px;
  margin-left: 150px;
}

/*button*/
.button-hotel-detail{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  background-color:#81B3D2;
  outline: none;
  width: 110px;
  height: 27px;
  margin: 0px 0px 0px -54px;
  margin-right: 1px;
}

.button-hotel-detail:hover{
  background-color: #669EC0;
}

.button-hotel-detail:active{
  background-color: #5496BD;
  opacity: 0.3;
  border: 0;
}

.button-hotel-reserv {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  background-color:#766357;
  outline: none;
  margin: 0;
  width: 142px;
  height: 27px;
}

.button-hotel-reserv:hover{
  background-color: #604E43;
  border: none;
}

.button-hotel-reserv:active{
  background-color: #503E33;
  color: #FFFFFF;
  opacity: 0.3;
  border: none;
}
