/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --letter-blue: #81B3D3;
  --background: #888888;
  --background-blue: #81B3D2;
  --background-grey: #EEEEEE;
  --background-light-grey:#F2F2F2;
  --background-brown: #766357;
  }

/* global */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform:uppercase;
  background-color: #F2F2F2;
  text-align: center;
  }

  a {
   text-decoration: none;
 }

  img {
    max-width: 100%;
    height: auto;
  }

  .main-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }

  /* Main navigation */
  .main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
  }

  .site-navigation {
    height: 70px;
    color: #000000;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: -55px;
    padding: 10px;
    text-align: center;
  }

  .site-navigation  a {
    color: #000000;
  }

  .site-navigation a:hover {
    color: #81B3D2;
  }

  .site-navigation a:active {
    color: #000000;
    opacity: 0.3;
  }

/*Welcome*/
.sedona-header {
    background-image: url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    Height: 509px;
  }

  .sedona-header-bottom {
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
    Height: 57px;
    background-position: center top;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

.welcome {
  padding: 40.5px;
}

/* Description */
  .description {
    color: #000000;
    background-color: #ffffff;
    padding: 50px;
  }

  .description h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding: 1% 30%;
  }

  .description p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    padding: 16.5px;
  }

/* Info */
  .info {
    display: flex;
    justify-content: space-evenly;
  }

  .info-text {
    color: #ffffff;
    background-color: #81B3D2;
    float: left;
    width: 400px;
    height: 256px;
  }

  .info-text h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
  }

  .info-text p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }

/* Features */
  .features {
    background-color: #EEEEEE;
    justify-content: space-evenly;
    display: flex;
  }

  .features-item {
    display: inline-block;
    padding: 1%;
  }

  .features-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    padding: 1%;
  }

  .features-item p {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding: 1% 10%;
  }

/* About */
  .about {
    background-color: #FFFFFF;
    justify-content: space-evenly;
    display: flex;
  }

  .about-item {
    padding: 50px;
    display: inline-block;
  }

  .about-item h3{
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
  }
  .about-item p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
  }

/* Interested */
  .interested {
    background-color: #FFFFFF;
    padding: 1%;
    height: 291px;
  }

  .interested h2{
    font-size: 30px;
    line-height: 24px;
    font-weight: 700;
    padding: 1% 30%;
  }

  .interested p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding: 1% 30%;
    color: #333333;
  }

/* Search */
  .search {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    background-image: url("../img/map.png");
    background-repeat: no-repeat;
  }

.search-text{
  color: #FFFFFF;
  background-color: #766357;
  margin-bottom: 100px;
  margin-top: -78px;
  }

  .search-text:hover h2 {
    background-color : #604E43;
}

  .search-text:active h2 {
    background-color: #503E33;
    color: rgba(255,255,255,0.3);
}

  .search-text h2{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #766357;
    Height: 38px;
    margin: 0;
    padding: 18px;
    text-align: center;
  }

    .search-form {
      width: 568px;
      height: 395px;
      background: #FFFFFF;
      box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
      padding: 10px;
  }

    .search-date {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    margin: 55px 27px 10px 27px;
  }

    .search-date ul {
      list-style: none;
      text-align: left;
    }

    .search-date input {
      border: none;
      width: 346px;
      height: 38px;
      background: #F2F2F2;
      padding: 0px 10px;
      margin-bottom: 30px;
      font-weight: 700;
      text-transform: uppercase;
      color: #000000;
      background-image: url("../img/calendar1.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    .search-date input:hover {
      background-color: #EBEBEB;
      background-image: url("../img/calendar3.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
    }

    .search-date input:active {
      background: #FFFFFF;
      background-image: url("../img/calendar2.svg");
      background-repeat: no-repeat;
      background-position: 95% 50%;
      border: 2px solid #E5E5E5;
    }

    .search-men {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }

    .search-men input {
      border: none;
      width: 114px;
      height: 38px;
      background: #F2F2F2;
      padding: 0px 10px;
      margin-bottom: 30px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #000000;
      background-image: url("../img/min1.svg");
      background-repeat: no-repeat;
      background-position: 5% 50%;
    }

    .search-men input:hover {
      background-image: url("../img/min2.svg");
      background-repeat: no-repeat;
      background-position: 5% 50%;
    }

    .search-men input:active {
      background-image: url("../img/min3.svg");
      background-repeat: no-repeat;
      background-position: 5% 50%;
    }

    .search-men ul {
      list-style: none;
      margin-left: 20px;
      display: flex;
    }

    .button-search {
      font-size: 21px;
      line-height: 27,2px;
      font-weight: 700;
      color: #ffffff;
      vertical-align: middle;
      border: none;
      text-transform: uppercase;
      background-color:#81B3D2;
      width: 458px;
      height: 58px;
    }

    .button-search:hover{
      background-color: #669EC0;
      color: #ffffff;
      border: none;
    }

    .button-search:active{
      background-color: #5496BD;
      color: #ffffff;
      opacity: 0.3;
      border: none;
    }

  /* Main footer */
    .main-footer {
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      justify-content: space-evenly;
    }

    .footer-contacts h2,
    .footer-contacts a {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
  }

  .footer-copyright p {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }

 .footer-copyright + p {
   line-height: 26px;
 }

  .footer-contacts a {
    text-decoration: none;
  }
  .footer-contacts a:hover,
  .footer-contacts a:focus {
    text-decoration: none;
  }

  .footer-social {
    display: flex;
  }

  .footer-social ul {
    list-style: none;
    display: flex;
  }

  .img-logo a{
  background-image: url("../img/htmlacademy.svg");
  }

  .img-logo a:hover{
    background-image: url("../img/htmlacademy2.svg");
  }

  .img-logo a:active{
    background-image: url("../img/htmlacademy3.svg");
  }

/* Social button */
  .social-button {
    color: inherit;
  }

  .social-button:hover,
  .social-button:focus {
    background-color: #81B3D2;
  }

  .footer-copyright .button:hover,
  .footer-copyright .button:focus {
    color: #ffffff;
    background-color: #81B3D2;
  }

  .img-Twitter {
    background: #81B3D2;
    width: 46px;
    padding: 10px 0px;
    margin: 5px;
  }

.img-Twitter:hover {
  background-color: #669EC0;
}

.img-Twitter:active {
  background-color: #5496BD;
}

  .img-Facebook {
    background: #81B3D2;
    width: 46px;
    padding: 10px 0px;
    margin: 5px;
  }

  .img-Facebook:hover {
    background-color: #669EC0;
  }

  .img-Facebook:active {
    background-color: #5496BD;
  }

.img-YouTube {
  background: #81B3D2;
  width: 46px;
  padding: 10px 0px;
  margin: 5px;
  }

  .img-YouTube:hover {
    background-color: #669EC0;
  }

  .img-YouTube:active {
    background-color: #5496BD;
  }

/*HOTEL*/
/*list*/
.list{
  display: flex;
  justify-content: space-evenly;
  background-image: url("../img/background_photo2.png");
  background-repeat: no-repeat;
  height: 217px;
}

.list-item ul {
  list-style: none;
  text-align: left;
}

.list-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  color: #FFFFFF;
}

.list-infrastructure h3{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 20px;
}

.list-home h3{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 20px;
}

/*list-cost*/
.list-cost {
  color: #FFFFFF;
  padding: 50px;
}

.list-cost h3 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.list-choice {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}

.list-choice input {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid;
  background: transparent;
}

.list-choice input::placeholder {
  color: #FFFFFF;
  }

.list-choice input[type="submit"]:hover {
  color: #000000;
  background: #FFFFFF;
  }

.option {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
  height: 86px;
  border-bottom: 1px solid #E5E5E5;
}

.option-filter span {
  font-size: 12px;
  line-height: 18px;
}

.option-filter a:first-of-type {
  color: #81B3D2;
  opacity: 1;
}

.option-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.option a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  border-bottom: 1px dashed #81B3D2;
  text-decoration: none;
}

.option a:hover {
  color: #81B3D2;
  border-bottom: 1px dashed #81B3D2;
}

.option a:active {
  color: #81B3D2;
  opacity: 1;
}

.option a:focus {
  color: #000000;
}

/*option-sort*/
.option-sort {
  color: #CACACA;
  text-decoration: none;
}

.option-sort a:hover {
  color: #000000;
}

.option-sort a:active
.option-sort a:focus {
  color: #81B3D2;
}

/*line*/
.line {
  height: 10px;
  color: E5E5E5;
}
  /*hotel*/
  .hotel {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    border: #E5E5E5;
    height: 150px;
    border-bottom: 1px solid #E5E5E5;
  }

  .hotel-img {
    padding: 30px;
    display: block;
  }

  .hotel-text h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
  }

  .hotel-text p{
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    margin: 10px;
    display: inline-block;
  }

  .hotel-text h3:hover {
   color : #81B3D2;
  }

  .hotel-text h3:active {
   color: #000000;
   opacity: 0.3;
  }

  .hotel-rating{
    color: #666666;
    background: #F2F2F2;
    height: 27px;
    width: 110px;
  }

  .hotel-rating p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    line-height: -1;
    padding: 3px;
  }

  /*motel*/
  .motel {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    height: 150px;
    border-bottom: 1px solid #E5E5E5;
  }

.motel-img {
  padding: 30px;
  display: block;
  }

  .motel-text h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
  }

  .motel-text p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    margin: 10px;
    display: inline-block;
  }

  .motel-text h3:hover {
   color : #81B3D2;
  }

  .motel-text h3:active {
   color: #000000;
   opacity: 0.3;
 }

  .motel-rating{
    color: #666666;
    background: #F2F2F2;
    height: 27px;
    width: 110px;
  }

  .motel-rating p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    line-height: -1;
    padding: 3px;
  }

  /*apartment*/
  .apartment {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    height: 151px;
    border-bottom: 1px solid #E5E5E5;
  }

  .apartment-img {
    padding: 30px;
    display: block;
  }

  .apartment-text h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: left;
  }

  .apartment-text h3:hover {
   color : #81B3D2;
  }

  .apartment-text h3:active {
   color: #000000;
   opacity: 0.3;
  }

  .apartment-text p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 10px;
    display: inline-block;
  }

  .apartment-rating p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    line-height: -1;
    padding: 3px;
  }

  .apartment-rating{
    color: #666666;
    background: #F2F2F2;
    height: 27px;
    width: 110px;
  }

/*button*/
.button-hotel-detail{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  background-color:#81B3D2;
  height: 27px;
}

.button-hotel-detail:hover{
  background-color: #669EC0;
}

.button-hotel-detail:active{
  background-color: #5496BD;
  opacity: 0.3;
  border: 0;
}

.button-hotel-reserv {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
  background-color:#766357;
  height: 27px;
}

.button-hotel-reserv:hover{
  background-color: #604E43;
  border: none;
}

.button-hotel-reserv:active{
  background-color: #503E33;
  color: #FFFFFF;
  opacity: 0.3;
  border: none;
}
